src/main/mule/product.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="productFlow" doc:id="b816dd9a-f497-4292-bc5a-fc8fcea6e5c5" >
		<try doc:name="Try" doc:id="0eeca2a9-6cb2-45fb-803c-4a9031433a35" >
			<http:request method="GET" doc:name="Request" doc:id="0bec3312-52c2-40f3-b983-dcf62e2f020d" path="/products/get-details" config-ref="HTTP_Request_configuration">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-rapidapi-key" : "3023a67861msh0eb707c9fd31682p12e9c9jsn4bd95787f3d4",
	"x-rapidapi-host" : "walmart.p.rapidapi.com"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"usItemId" : attributes.queryParams.usItemId
}]]]></http:query-params>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="808520a1-3349-47a1-a9df-9a2d8c7ce60e" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="7b619fca-0e0a-48f8-8c42-d5bfd6f07012" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": error.description
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="b8433148-5c0c-46e1-af80-501c1c0ecc32" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"usItemId" : payload.data.productByProductId.usItemId,
	"product_type_id" :  payload.data.productByProductId.productTypeId,
	"quantity" : vars.Quantity
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6aa24713-1eaa-4415-9693-ee85cc689a2f" />
	</flow>
</mule>
